@import "./custom-properties.css";

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  background: var(--color-black-black);
}

body {
  -webkit-font-smoothing: antialiased;

  color: var(--color-white);
  margin: 0;
}

