@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, orange, deeppink, yellow);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 1px;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.root {
  composes: center from "../../styles/shared.module.css";
  position: relative;
  background-color: var(--color-black, #000);
  color: var(--color-white, #fff);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 2rem;

  @media (--media-min-medium) {
    padding-bottom: 4rem;
  }
}

.root::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-image: linear-gradient(#2220, #222e);
  width: 100%;
  height: 50%;
  z-index: 0;
}

.content {
  width: 100%;
  max-width: var(--width-small);
  padding: 0 1.5em;
  box-sizing: border-box;
  z-index: 1;
}

.title {
  position: relative;
  font-weight: 600;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  padding-top: 12.5rem;

  @media (--media-min-medium) {
    font-size: var(--font-title1-size);
    line-height: var(--font-title1-line-height);
    padding-top: 15rem;
  }
}

.tagline {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);


  @media (--media-min-medium) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}

.tagline > p {
  margin: 0;
}

.ctas {
  margin-top: 3rem;
  display: flex;
}

.ctas > *:not(:first-child) {
  margin-left: 1rem;
}

.root p a {
  color: inherit;
}
.three_title {
  position: absolute;
}
.three_tagline {
  position: absolute;
}


.root3{
}
.text3{
position:absolute;
top: 33vh;
width:100%;

}
.title3{
  margin: 1vh;
  text-align: center;
}
.tagline3{
  margin: 1vh;
  text-align: center;

	color: transparent;
	animation: blur 1.5s ease-out forwards;
	-webkit-animation: blur 1.5s ease-out forwards;

	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;

}
.canvas{
  display: flex;
}

.span3 {
	color: transparent;
	animation: blur 1.5s ease-out  forwards;
	-webkit-animation: blur 1.5s ease-out forwards;
}

.span3:nth-child(1) {
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}
.span3:nth-child(2) {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.span3:nth-child(3) {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.span3:nth-child(4) {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
.span3:nth-child(5) {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.span3:nth-child(6) {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}
.span3:nth-child(7) {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}

@keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	5%		{text-shadow:  0 0 90px #fff;}
	10%		{opacity: 1;}
	40%		{text-shadow:  0 0 90px #fff;}
	100%	{text-shadow:  0 0 0 #fff; opacity:1;}
}

@-webkit-keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	5%		{text-shadow:  0 0 90px #fff;}
	10%		{opacity: 1;}
	40%		{text-shadow:  0 0 90px #fff;}
	100%	{text-shadow:  0 0 0 #fff; opacity:1;}
}
