@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.root {
  overflow: hidden;
  position: relative;
  padding: 0 2rem;

  @media (--media-min-medium) {
    padding: 0 4rem;
  }
}

.label {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  letter-spacing: 0.5px;
  margin-top: 1em;
  background: blue;
}

.label + .title {
  margin-top: 0.2em;
  background: red;
}

.title {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  background: purple;
}

.image {
  display: block;
  width: 100%;
}

.content {
  position: relative;
  margin: 0 1.5rem;
  max-width: var(--width-medium);

  @nest & figcaption {
    width: 100%;
    box-sizing: border-box;
  }

  @media (--media-min-medium) {
    margin: 0 auto;
    padding-top: 2rem;

    @nest & figcaption {
      position: absolute;
      top: 0;
    }
  }
}

.caption {
  outline: 1px solid blue;

  @media (--media-min-medium) {
    outline: 1px solid red;
  }
}

.captionBox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
